@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Marcellus&display=swap');

:root {
  --light-color: #FBF5DD;
  --dark-color: #16404D;
  --dark-lite: #9cafaa;
  --key-word: #DDA853;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant SC", serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff
}

.navLinks {
  font-family: "Marcellus", serif;
  font-size: 18px;
  font-weight: 600
}

a.nav-link {
  color: #69c2f9
}

.active-link {
  color: #0acb0a !important
}

.logo {
  font-family: "Comic Neue", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #0acb0a;
  text-shadow: #16404D 1px 2px 2px;
}

.logo-name {
  font-family: "Marcellus", serif;
  font-size: 28px;
  font-weight: 700 !important;
  color: #0acb0a;
  text-shadow: #16404D 1px 2px 1px;
}

.footer {
  font-family: "Cormorant", serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.footer-heading {
  color: var(--dark-lite)
}

.bold {
  font-weight: 700
}

.semi-bold {
  font-weight: 500
}

.author {
  color: var(--dark-lite)
}

.keyword {
  color: var(--key-word);
}